<full-calendar [options]="calendarOptions"></full-calendar>

<ngx-smart-modal #myModal identifier="myModal">
    <h1>Título do compromisso</h1>
    <p>informe o nome do compromisso</p>
    <form #value="ngForm" (ngSubmit)="saveEvent(value)">
        <input matInput [(ngModel)]="title" name="title">
        <button>Salvar</button>
    </form >
    <button (click)="myModal.close()">Fechar</button>
</ngx-smart-modal>

<ngx-smart-modal #myModalDelete identifier="myModalDelete">
    <h1>Exclsuão de compromisso</h1>
    <p>Você tem certeza que quer excluir este compromisso?</p>
  
    <button (click)="deleteEvent(true)">Confirmar</button>
    <button (click)="deleteEvent(false)">Cancelar</button>
    <button (click)="myModalDelete.close()">Fechar</button>
</ngx-smart-modal>